@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../images/pexels-tara-winstead-7723806.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}